- flash.each do |key, value|
  = content_tag :div, value, class: "flash flash-#{key}"
.content.clearfix
  = render partial: "groups/group_index"
  .content__right
    .content__right__top
      .content__right__top__left
        %p.content__right__top__left__groupname
          = @group.name
        %p.content__right__top__left__member
          Members:
          - @group.users.each do |user|
            = user.name
      .content__right__top__right
        %span.content__right__top__right__edit edit
    .content__right__middle
      .content__right__middle__element
      - @messages.each do |message|
        %span.content__right__middle__element__username
          = message.user.name
        %span.content__right__middle__element__date
          = message.created_at
        %p.content__right__middle__element__message
          = message.body
        %p.content__right__middle__element__image
          = image_tag message.image.url
    / .content__right__bottom
    /   %textarea.content__right__bottom__textarea{:placeholder => "type a message"}
    /   %i.fa.fa-picture-o.fa-2x.picture{"aria-hidden" => "true"}
    /   %input.content__right__bottom__submit{:name => "submit", :type => "submit", :value => "Submit"}/
    .content__right__bottom
      = form_for [@group, @message] do |f|
        = f.text_field :body, placeholder: 'type a message', class: 'textarea'
        = f.label :image do
          %i.fa.fa-picture-o.fa-2x.picture{"aria-hidden" => "true"}
        = f.file_field :image, style: "display: none;"
        = f.submit :sent, class: 'content__right__bottom__submit'
